{% macro singlePanel(
title="",
text="",
href="",
button_label="",
external=false
) %}
<section class="panel">
    <h2>{{ title }}</h2>
    <p>{{ text }}</p>
    {% if href and button_label %}<a
        class="button"
        href="{{ href }}"
        {% if external %}target="_blank" rel="noopener noreferrer"{% endif %}>
        {{ button_label }}
    </a>{% endif %}
</section>
{% endmacro %}