@media (max-width: 900px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
	}

	#order,
	.book-section,
	.two-col,
	.features,
	.testimonials,
	.section-white,
	.section-w-fade,
	.section-b-fade,
	.section-blue,
	.section-gradient,
	.section-transparent {
		display: flex;
		flex-direction: column;
	}

	#order,
	.book-section,
	.two-col {
		text-align: center;
	}
}
